//Colors
$transparent: rgba(0, 0, 0, 0.039);
$lightBlue:rgb(102, 202, 242);
$darkBlue:rgb(1, 47, 115);
$green: rgb(55, 171, 74);
$fadedBlack: rgb(26, 26, 26);
$lightGrey: rgb(221, 221, 221);
$ShadeofGrey1:rgb(110, 110, 110);
$ShadeofGrey2: rgb(96, 96, 96);
$ShadeofGrey3: rgb(115, 115, 115);
$darkGrey: rgb(39, 39, 39);
$darkGrey2: rgb(35, 31, 32);